.TitleFrame {
    /* text-align: center; */
    font-size: 16pt;
    font-family: "calibri","Lucida Sans Unicode";
    font-weight: 400;
    
    padding: 0px 2px;
    }
    .dropdown-toggle::after {
    display: none;
    }
    .nav-item{
    padding-left:8px;
    padding-right:8px;
    }
    a {
    text-decoration: none !important;
    }
    li.list{
    color: black;
    }
    .dropdown:hover .dropdown-menu {
     display: block;
     margin-top: 0; 
     background-color: #E4E9F1;
     }
     .navbar{ padding-top: 0px;
         padding-bottom: 0px;}